@media screen and (min-width: 1000px){

  html, body {
      max-width: 100%;
      overflow-x: hidden;
  }

  .front{
    font-family: 'Oswald', sans-serif;
    color: white;
    background: url(../img/expoline-front2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70em;

  }

  .title{
    color: white;
    float: left;
  }

  .line-1{
    font-size: 10em;
  }

  .line-2{
    padding-top: 375px;
    font-size: 10em;
  }

  .line-3{
    padding-top: 20px;
    font-size: 2em;
  }

  .hidden{
    display:none;
  }

  /* content */
  .main-image{
    width:100%;
  }

  .content{
    font-family: 'Droid Serif', serif;
    line-height: 240%;
  }

  .story-title{
    color: rgb(0 ,86, 154);
    margin: 0 15%;
    padding-top: 2%;
    font-size: 3em;
    line-height: 1.25em;
  }

  .by-line{
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 0 15%;
  }

  .post-main-pic{
    display: block;
    width: 70%;
    margin: auto;
  }

  .post-main-pic-caption{
    font-size: 1em;
    line-height: 1.4em;
    margin: 0 15%;
  }

  .content p{
    text-align: justify;
  }

  .post-content{
    font-size: 1.25em;
    margin: 2.5% 17.5%;
  }

  .content figure:nth-of-type(1){
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: -10px;
    margin-left: 50px;
  }

  .content figure:nth-of-type(2){
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: -20px;
  }

  /*scrollspy*/
  body{
  	position: relative; /* required */
  }

  .nav-pills{
    font-size: 2em;
  }

  ul.nav-tabs {
    margin-left: 15px;
    width: 20em;
    height: 20.6em;
    font-size: 1.5em;
  	margin-top: 20px;
  	border-left: 1px solid #ddd;
  	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.077);
  }

  ul.nav-tabs li {
  	margin: 0;
  	border-top: 3px solid #ddd;
  }

  ul.nav-tabs li a {
    height: 5em;
    color: black;
  	margin: 0;
  	padding: 8px 16px;
  	border-radius: 0;
  }

  ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {

    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
  	color: #fff;
  	background: #0088cc;
  	border: 1px solid #0088cc;
  }

  ul.nav-tabs.affix {
  	top: 0px; /* set the top position of pinned element */
  }

}

@media screen and (min-width: 320px) and (max-width: 560px) {

  html, body {
      max-width: 100%;
      overflow-x: hidden;
  }

  .front{
    font-family: 'Oswald', sans-serif;
    color: white;
    background: url(../img/expoline-front2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 47em;

  }

  .title{
    color: white;
    float: left;
  }

  .line-1{
    padding-top: 20px;
    font-size: 3em;
  }

  .line-2{
    padding-top: 310px;
    font-size: 3em;
  }

  .line-3{
    padding-top: 30px;
    font-size: 1em;
  }

  .hidden{
    display:none;
  }

  /* content */
  .main-image{
    width:100%;
  }

  .content{
    font-family: 'Droid Serif', serif;
  }

  .story-title{
    color: rgb(0 ,86, 154);
    padding-top: 2%;
    font-size: 1.2em;
    line-height: 1em
  }

  .by-line{
    text-transform: uppercase;
    font-size: 1em;
  }

  .post-main-pic{
    display: block;
    width: 100%;
    height: 300px;
    margin: auto;
  }

  .post-main-pic-caption{
    font-size: 1em;
  }

  .content p{
    text-align: justify;
  }

  .post-content{
    font-size: 1.25em;
  }

  .content figure:nth-of-type(1){
    margin: auto;
  }

  .content figure:nth-of-type(2){
    margin: auto;
  }
1
  /*scrollspy*/
  body{
  	position: relative; /* required */
  }

  .nav-pills{
    font-size: 2em;
  }

  ul.nav-tabs {
    position: absolute;
    display: none;
    margin-left: 15px;
    width: 20em;
    height: 20.6em;
    font-size: 1.5em;
  	margin-top: 20px;
  	border-left: 1px solid #ddd;
  	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.077);
  }

  ul.nav-tabs li {
  	margin: 0;
  	border-top: 3px solid #ddd;
  }

  ul.nav-tabs li a {
    height: 5em;
    color: black;
  	margin: 0;
  	padding: 8px 16px;
  	border-radius: 0;
  }

  ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {

    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
  	color: #fff;
  	background: #0088cc;
  	border: 1px solid #0088cc;
  }

  ul.nav-tabs.affix {
  	top: 0px; /* set the top position of pinned element */
  }

}
